<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="user" name="usr" class="com.bigdata2017.springcontainer.User"/>
	<bean id="user4" class="com.bigdata2017.springcontainer.User"/>

	<bean 
		id="user5" 
		class="com.bigdata2017.springcontainer.User">
		<constructor-arg index="1" value="마이콜"/>
		<constructor-arg index="0" value="1"/>
	</bean>	

	<bean 
		id="user6" 
		class="com.bigdata2017.springcontainer.User">
		<property name="no" value="2"/>
		<property name="name" value="또치"/>
	</bean>	
	
	<bean 
		id="user7" 
		class="com.bigdata2017.springcontainer.User">
		<property name="no" value="3"/>
		<property name="name" value="도우넛"/>
		<property name="friend" ref="friend7"/>
	</bean>

	<bean
		id="friend7"
		class="com.bigdata2017.springcontainer.Friend">
		<constructor-arg value="희동이"/>
	</bean>
			
	<bean 
		id="user8" 
		class="com.bigdata2017.springcontainer.User">
		<property name="no" value="4"/>
		<property name="name" value="둘리"/>
		<property name="friend">
			<bean
				class="com.bigdata2017.springcontainer.Friend">
				<constructor-arg value="길동"/>
			</bean>		
		</property>
		<property name="friends">
			<list>
				<value>도우넛</value>
				<value>마이콜</value>
				<value>또치</value>
			</list>
		</property>
	</bean>	
</beans>
